.banner-header{
  background-image: url('/src/assets/img/Header.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filtro-banner{
  background-color: rgba(33, 8, 13, 0.6);
}